@use "header";
@use "footer";

// Template Parts
@use "template-parts/homepage/banner";
@use "template-parts/homepage/cta";
@use "template-parts/homepage/background-image";

html {
  max-width: 1440px;
  margin: auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', san-serif;
}

// CSS for the site logo
.custom-logo {
  max-width: 105px;
  width: 100%;
  height: auto;
}